body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1511px;
}
#u11511 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:40px;
  width:1px;
  height:1510px;
}
#u11511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6633FF;
}
#u11512 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:70px;
  width:200px;
  height:30px;
  color:#6633FF;
}
#u11512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u11513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11513 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:130px;
  width:450px;
  height:130px;
}
#u11513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:446px;
  word-wrap:break-word;
}
#u11514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:6px;
}
#u11514 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:130px;
  width:450px;
  height:6px;
}
#u11514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11515 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:220px;
  width:110px;
  height:30px;
}
#u11515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6633FF;
}
#u11516 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:310px;
  width:200px;
  height:30px;
  color:#6633FF;
}
#u11516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u11517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11517 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:360px;
  width:610px;
  height:270px;
}
#u11517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:6px;
}
#u11518 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:360px;
  width:610px;
  height:6px;
}
#u11518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11519 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:390px;
  width:148px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u11520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11521 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:430px;
  width:230px;
  height:30px;
}
#u11522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11523 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11524 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:435px;
  width:70px;
  height:20px;
}
#u11524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11524_input:disabled {
  color:grayText;
}
#u11525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11525 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:550px;
  width:550px;
  height:80px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u11526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u11526 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:505px;
  width:590px;
  height:1px;
}
#u11526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11527 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:430px;
  width:282px;
  height:55px;
  font-size:12px;
}
#u11527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u11528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11528 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:520px;
  width:110px;
  height:30px;
}
#u11528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11529 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:376px;
  width:40px;
  height:30px;
}
#u11529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u11530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6633FF;
}
#u11530 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:660px;
  width:260px;
  height:30px;
  color:#6633FF;
}
#u11530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:256px;
  word-wrap:break-word;
}
#u11531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u11531 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:70px;
  width:380px;
  height:30px;
}
#u11531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:376px;
  word-wrap:break-word;
}
#u11532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11532 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:710px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11533 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:740px;
  width:550px;
  height:60px;
}
#u11534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u11534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u11535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:30px;
}
#u11535 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u11536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:141px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u11537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:30px;
}
#u11537 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:30px;
  width:409px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6633FF;
}
#u11539 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:870px;
  width:350px;
  height:30px;
  color:#6633FF;
}
#u11539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:346px;
  word-wrap:break-word;
}
#u11540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11540 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:940px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11541 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:970px;
  width:550px;
  height:60px;
}
#u11542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u11542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u11543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:30px;
}
#u11543 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u11544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:141px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11544_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u11545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:30px;
}
#u11545 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:30px;
  width:409px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11547 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1002px;
  width:60px;
  height:22px;
}
#u11547_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11547_input:disabled {
  color:grayText;
}
#u11548 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1002px;
  width:40px;
  height:22px;
}
#u11548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11548_input:disabled {
  color:grayText;
}
#u11549 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:975px;
  width:40px;
  height:22px;
}
#u11549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11549_input:disabled {
  color:grayText;
}
#u11550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11551 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:776px;
  width:60px;
  height:22px;
}
#u11551_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11551_input:disabled {
  color:grayText;
}
#u11552 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:776px;
  width:40px;
  height:22px;
}
#u11552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11552_input:disabled {
  color:grayText;
}
#u11553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u11553 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:744px;
  width:60px;
  height:22px;
  font-size:12px;
  text-decoration:underline;
  color:#999999;
}
#u11553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u11554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11555 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:570px;
  width:610px;
  height:220px;
}
#u11555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:6px;
}
#u11556 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:570px;
  width:610px;
  height:6px;
}
#u11556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11557 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:600px;
  width:148px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u11558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11559 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:640px;
  width:230px;
  height:30px;
}
#u11560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11561 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11562 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:645px;
  width:70px;
  height:20px;
}
#u11562_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11562_input:disabled {
  color:grayText;
}
#u11563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11563 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:710px;
  width:554px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u11564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u11564 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:739px;
  width:590px;
  height:1px;
}
#u11564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11565 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:750px;
  width:110px;
  height:30px;
}
#u11565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11566 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:586px;
  width:40px;
  height:30px;
}
#u11566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u11567 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:620px;
  width:0px;
  height:0px;
}
#u11567_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:40px;
  height:8px;
}
#u11567_seg1 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:8px;
  height:148px;
}
#u11567_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:136px;
  width:88px;
  height:8px;
}
#u11567_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u11567_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11569 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:459px;
  width:230px;
  height:30px;
}
#u11570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11571 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11573 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:463px;
  width:60px;
  height:22px;
}
#u11573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11573_input:disabled {
  color:grayText;
}
#u11574 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:463px;
  width:40px;
  height:22px;
}
#u11574_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11574_input:disabled {
  color:grayText;
}
#u11575 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:540px;
  width:0px;
  height:0px;
}
#u11575_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u11575_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-54px;
  width:8px;
  height:58px;
}
#u11575_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-54px;
  width:344px;
  height:8px;
}
#u11575_seg3 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:-70px;
  width:8px;
  height:24px;
}
#u11575_seg4 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-79px;
  width:18px;
  height:19px;
}
#u11575_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11576 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:440px;
  width:457px;
  height:20px;
}
#u11576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u11577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11577 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:471px;
  width:288px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u11577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u11578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11579 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:669px;
  width:230px;
  height:30px;
}
#u11580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11581 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11583 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:673px;
  width:60px;
  height:22px;
}
#u11583_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11583_input:disabled {
  color:grayText;
}
#u11584 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:673px;
  width:40px;
  height:22px;
}
#u11584_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11584_input:disabled {
  color:grayText;
}
#u11585 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:744px;
  width:40px;
  height:22px;
}
#u11585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11585_input:disabled {
  color:grayText;
}
#u11586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11587 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1090px;
  width:610px;
  height:270px;
}
#u11587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:6px;
}
#u11588 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1090px;
  width:610px;
  height:6px;
}
#u11588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11589 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1120px;
  width:148px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u11590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11591 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1160px;
  width:230px;
  height:30px;
}
#u11592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11593 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11594 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1165px;
  width:70px;
  height:20px;
}
#u11594_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11594_input:disabled {
  color:grayText;
}
#u11595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11595 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1280px;
  width:550px;
  height:80px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u11596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u11596 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1235px;
  width:590px;
  height:1px;
}
#u11596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11597 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1160px;
  width:282px;
  height:55px;
  font-size:12px;
}
#u11597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u11598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11598 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1250px;
  width:110px;
  height:30px;
}
#u11598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11599 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1106px;
  width:40px;
  height:30px;
}
#u11599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u11600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11601 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1189px;
  width:230px;
  height:30px;
}
#u11602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u11602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u11603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11603 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11605 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1193px;
  width:60px;
  height:22px;
}
#u11605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11605_input:disabled {
  color:grayText;
}
#u11606 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1193px;
  width:40px;
  height:22px;
}
#u11606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11606_input:disabled {
  color:grayText;
}
#u11607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11607 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:1170px;
  width:457px;
  height:20px;
}
#u11607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u11608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11608 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:1201px;
  width:288px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u11608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u11609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11609 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:754px;
  width:135px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u11610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11610 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:750px;
  width:110px;
  height:30px;
}
#u11610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11611 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1250px;
  width:0px;
  height:0px;
}
#u11611_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u11611_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:378px;
  height:8px;
}
#u11611_seg2 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:-70px;
  width:8px;
  height:44px;
}
#u11611_seg3 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:-79px;
  width:18px;
  height:19px;
}
#u11611_text {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11612 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:521px;
  width:110px;
  height:30px;
}
#u11612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11613 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1250px;
  width:110px;
  height:30px;
}
#u11613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u11614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11614 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1123px;
  width:200px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11615 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:392px;
  width:200px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
