body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12970 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:510px;
  width:132px;
  height:100px;
}
#u12970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:128px;
  word-wrap:break-word;
}
#u12971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u12971 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:521px;
  width:132px;
  height:21px;
}
#u12971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12972 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:390px;
  width:132px;
  height:100px;
}
#u12972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:128px;
  word-wrap:break-word;
}
#u12973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u12973 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:417px;
  width:132px;
  height:21px;
}
#u12973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12974 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:390px;
  width:132px;
  height:220px;
}
#u12974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:128px;
  word-wrap:break-word;
}
#u12975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u12975 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:419px;
  width:132px;
  height:21px;
}
#u12975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12976 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:120px;
  width:132px;
  height:220px;
}
#u12976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:128px;
  word-wrap:break-word;
}
#u12977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12977 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:120px;
  width:132px;
  height:100px;
}
#u12977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:128px;
  word-wrap:break-word;
}
#u12978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12978 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:240px;
  width:132px;
  height:100px;
}
#u12978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:128px;
  word-wrap:break-word;
}
#u12979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0066FF;
}
#u12979 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:130px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#0066FF;
}
#u12979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0066FF;
}
#u12980 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:130px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#0066FF;
}
#u12980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12981 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:137px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12981_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u12981_seg1 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-9px;
  width:18px;
  height:18px;
}
#u12981_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u12982 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:150px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12982_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u12982_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:68px;
  height:8px;
}
#u12982_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:158px;
}
#u12982_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:146px;
  width:64px;
  height:8px;
}
#u12982_seg4 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:141px;
  width:18px;
  height:18px;
}
#u12982_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:66px;
  width:100px;
  word-wrap:break-word;
}
#u12983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0066FF;
}
#u12983 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:290px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#0066FF;
}
#u12983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12984 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:421px;
  width:66px;
  height:17px;
  font-size:12px;
}
#u12984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12985 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:523px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u12985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u12986 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:440px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009966;
}
#u12986_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u12986_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:26px;
  width:258px;
  height:8px;
}
#u12986_seg2 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:0px;
  width:8px;
  height:34px;
}
#u12986_seg3 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-6px;
  width:18px;
  height:18px;
}
#u12986_text {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u12987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12987 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:421px;
  width:66px;
  height:17px;
  font-size:12px;
}
#u12987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12988 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:540px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12988_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u12988_seg1 {
  border-width:0px;
  position:absolute;
  left:-264px;
  top:36px;
  width:268px;
  height:8px;
}
#u12988_seg2 {
  border-width:0px;
  position:absolute;
  left:-264px;
  top:-100px;
  width:8px;
  height:144px;
}
#u12988_seg3 {
  border-width:0px;
  position:absolute;
  left:-269px;
  top:-106px;
  width:18px;
  height:18px;
}
#u12988_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u12989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u12989 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:421px;
  width:36px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u12989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u12990 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12990_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u12990_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:38px;
  height:8px;
}
#u12990_seg2 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:78px;
}
#u12990_seg3 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:66px;
  width:388px;
  height:8px;
}
#u12990_seg4 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:10px;
  width:8px;
  height:64px;
}
#u12990_seg5 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:4px;
  width:18px;
  height:18px;
}
#u12990_text {
  border-width:0px;
  position:absolute;
  left:90px;
  top:61px;
  width:100px;
  word-wrap:break-word;
}
#u12991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u12991 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:421px;
  width:36px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u12991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u12992 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12992_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u12992_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:38px;
  height:8px;
}
#u12992_seg2 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:138px;
}
#u12992_seg3 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:126px;
  width:348px;
  height:8px;
}
#u12992_seg4 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:110px;
  width:8px;
  height:24px;
}
#u12992_seg5 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:104px;
  width:18px;
  height:18px;
}
#u12992_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:121px;
  width:100px;
  word-wrap:break-word;
}
#u12993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#009966;
}
#u12993 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:523px;
  width:30px;
  height:17px;
  font-size:12px;
  color:#009966;
}
#u12993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u12994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12994 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:40px;
  width:335px;
  height:20px;
}
#u12994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u12995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12995 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:70px;
  width:200px;
  height:40px;
}
#u12995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u12996 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:120px;
  width:513px;
  height:458px;
}
#u12997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
}
#u12998 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:413px;
  height:40px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u12999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
}
#u13000 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:413px;
  height:40px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u13001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u13001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:84px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u13002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:84px;
}
#u13002 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:413px;
  height:84px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:409px;
  word-wrap:break-word;
}
#u13003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:124px;
}
#u13003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:100px;
  height:124px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u13004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:124px;
}
#u13004 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:164px;
  width:413px;
  height:124px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:409px;
  word-wrap:break-word;
}
#u13005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u13005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:100px;
  height:96px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u13006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:96px;
}
#u13006 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:288px;
  width:413px;
  height:96px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:409px;
  word-wrap:break-word;
}
#u13007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:74px;
}
#u13007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:100px;
  height:74px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u13008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:74px;
}
#u13008 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:384px;
  width:413px;
  height:74px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:409px;
  word-wrap:break-word;
}
#u13009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13009 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:523px;
  width:50px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u13009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
